@import url(https://fonts.googleapis.com/css?family=Cookie);

* {
  margin: 0;
  padding: 0;
}

body {
  color: #34495e;
  font: 16px 'Copperplate', serif;
  text-align: right;
  /*background-color: #ecf0f1;*/
  background-color: #16a085;
}

div.row {
  background-color: #95a5a6;
  border-radius: 3px;
  box-shadow: 0 1px 1px #34495e;
  width: 1000px;
  padding: 75px 60px;
  margin: 50px auto;
  text-shadow: 0 1px 1px #7f8c8d;
}
